
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body chat-page p-0">
                        <div class="chat-data-block">
                            <div class="row">
                                <div class="col-lg-3 chat-data-left scroller">
                                    <div class="chat-search pt-3 ps-3 ">

                                        <button type="button"class="btn btn-success fa-2x" (click)="  addevent()"> new</button>
                                        <div class="chat-searchbar mt-4">
                                            <div class="form-group chat-search-data m-0">
                                                <input type="text" class="form-control round" [(ngModel)]="place" placeholder="place ...">
                                            </div>
                                            <button type="button"class="btn light " (click)=" findByPlace()">search</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="content">
                                    <div class="rows" *ngFor="let event of ListEvent">
                                        <div class="imgevent">
                                            <img style="height: 150px;width: 150px" src="./assets/event.png">
                                        </div>
                                        <div class=" eventContent" >
                                            <p><span >title:</span> {{event.title}}</p>
                                            <p><span>Date :</span>  {{event.eventDate}}</p>
                                            <p><span>type:</span>  {{event.eventType}}</p>
                                            <p><span>place :</span>  {{event.place}}</p>
                                            <p><span>duration :</span>  {{event.duration}}</p>
                                            <p><span>description :</span>  {{event.description}}</p>
                                            <p><span>capacity:</span>  {{event.capacity}}</p>

                                            <button class="btn info bt" (click)="showComments(event.id)">Comments</button>
                                            <button class="btn btn-success bt" (click)="updateEvent(event.id)">edit</button>
                                            <button class="btn btn-danger bt" (click)="deleteEvent(event.id)">Delete</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="content">
         <div class="row">
            <div class="col-lg-8 row m-0 p-0">
              <button (click)=" openDialog()">test</button>
              <app-forum *ngFor="let p of ListArticle" [article]="p" (DeleteArticle)="deleteArticle($event)" (updateArticle)="getArticle()"></app-forum>
            </div>
            <div class="col-sm-12 text-center">
               <img src="assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
            </div>
         </div>
      </div> -->
</div>
 
 