.content {

  background: white;
  padding: 20px;
  font-family: "Gill Sans", sans-serif;
}

.test{
  position: fixed;

  width: 100%;
}


.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .1em .4em .2em;
  border-radius: 2px;
  background: var(--tag-bg);
  color: var(--text-color);
  font-weight: 500;
  margin: .20em .1em
}

.tag-lg {
  font-size: 0.7em;
  border-radius: 4px
}
.tag-javascript {
  background: #ffcb2b;
  color: #12181a
}
.row{
  width: 100%;

}
.imgevent{
  display: inline-block;
  margin-right: 50px;
}
.eventContent{
  display: inline-block;
  width: 400px;
}
.rows{
  width: 750px;
  display: flex;
  border: solid 1px;
  border-color: #D3D3D3;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}
.card{
  padding: 20px;
  width: 1300px;
}
.read{
  position: center;
  cursor: pointer;
  font-size: large;
}

.bt{
  margin-right:10px ;
}