<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" style="background: linear-gradient(15deg,  #a6a9df, #b8860b);">
              <h4 class="card-title">Add Article</h4>
              <p class="card-category">Add a new article</p>
            </div>
            <div class="card-body">
                <form (submit)="onSubmit($event)">
                    <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Title" name="title" required (input)="title=$event.target.value">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Description" name="description" type="text" required (input)="description=$event.target.value">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Publish Date" name="publishDate" type="date" required (input)="publishDate=$event.target.value">
                    </mat-form-field>
                  </div>
                </div>
                
              
                <div class="row">
                  <div class="col-md-12">
                    <label>Content</label>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo." name="content" required (input)="content=$event.target.value"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn pull-right" >Add Article</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  