.image {
    border-radius: 5px 5px 0 0;
  }

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }

  
  .card-wrap {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
  }
  

 
  
 