<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div  class="home-container">
            <h2> add new fundraiser</h2>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>title</mat-label>
                    <input matInput formControlName="title" required [(ngModel)]="fundraiser.title">
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>goal </mat-label>
                    <input matInput  formControlName="goal" required  [(ngModel)]="fundraiser.goal">
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>description</mat-label>
                    <textarea matInput  formControlName="description" required  [(ngModel)]="fundraiser.description" ></textarea>
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>status</mat-label>
                <mat-select  formControlName="status"  [(ngModel)]="fundraiser.pendingStatus">
                    <mat-option>

                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>target</mat-label>
                    <input matInput placeholder="desired amount" formControlName="target" [(ngModel)]="fundraiser.target" >
                    <mat-error >test</mat-error>
                </mat-form-field>
            </div>
            <button class="btn btn-primary button" type="submit" (click)="onSubmit()">Submit</button>
        </div>
    </form>
</div>