<form [formGroup]="fundraiserForm" >
  <div  class="home-container">
      <h2> update</h2>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>title</mat-label>
        <input matInput placeholder="pat@example.com"  formControlName="title" >
        <mat-error >test</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>place </mat-label>
        <input matInput  formControlName="place" >
        <mat-error >test</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>description</mat-label>
        <input matInput  formControlName="description" >
        <mat-error >test</mat-error>
      </mat-form-field>
    </div>
    
    <mat-form-field appearance="fill">
      <mat-label>type</mat-label>
      <mat-select  formControlName="type">
        <mat-option *ngFor="let status of status" [value]="status.value" >
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn btn-primary button" (click)="updatefundraiser()">Update</button>
  </div>
</form>
