<div class="main-content">

    <div class="container-fluid">
        <div class="container">
          <body>
            <div class="cover">
              <h1>Discover what's out there.</h1>
              <form  class="flex-form">
                <label for="from">
                  <i class="ion-location"></i>
                </label>
                <button type="button" class="btn btn-primary btn-lg" value="Search">hello</button>
              </form>
            </div>
        </body>






        <div class="row">
        
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Donations List</h4>
                        <p class="card-category"> Here is a list of all the donations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                      Date
                                    </th>
                                    <th>
                                      User
                                    </th>
                                </thead>
                                <tbody *ngFor="let d of donations">
                                    <tr >
                                        <td>
                                            {{d.id}}
                                        </td>
                                        <td>
                                          {{d.sum}}
                                      </td>
                                      <td>
                                          {{d.donationDate}}
                                      </td>
                                      <td>
                                          {{d.userRef.firstName}}
                                      </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 



