<div >
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Add Fundraiser</h4>
              <p class="card-category">Complete your Candidacy</p>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" #fundraiserForm="ngForm" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="title" [(ngModel)]="fundraiser.title" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="goal" type="text" [(ngModel)]="fundraiser.goal" required>
                    </mat-form-field>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <label >Deadline:</label>
                      <input matInput type ="date" [(ngModel)]="fundraiser.deadline" required>
                    </mat-form-field>
                  </div>
                  <!--
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Please put your skills here" [(ngModel)]="fundraiser. required></textarea>
                    </mat-form-field>
                  </div>
                  -->
                </div>
                <div class="row">
                  <!--
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <label >Starting Date:</label>
                      <input matInput type ="date"  required>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <label >Ending Date:</label>
                      <input matInput type ="date" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label for="photoData">Photo:</label>
                    <input type="file" id="photoData" name="photoData"  required>
                  </div>
                </div>
                -->
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Submit</button>

                <div class="clearfix"></div>
                </div>
             </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>