<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon" routerLink="/helpDemands" style="cursor: pointer;">
                      <div class="card-icon" routerLink="/helpDemands" style="cursor: pointer;">
                          <i class="material-icons">live_help</i>
                      </div>
                      <p class="card-category" routerLink="/helpDemands" style="cursor: pointer;">Help demands waiting</p>
                      <h3 class="card-title" routerLink="/helpDemands" style="cursor: pointer;">{{helpdemandsNbre}}
                          <small>help demand</small>
                      </h3>
                  </div>
                  <div class="card-footer" routerLink="/helpDemands" style="cursor: pointer;">
                      <div class="stats" routerLink="/helpDemands" style="cursor: pointer;">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">It's important to update them into tasks if it's necessary !</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon" routerLink="/tasks" style="cursor: pointer;">
                      <div class="card-icon" routerLink="/tasks" style="cursor: pointer;">
                          <i class="material-icons">live_help</i>
                      </div>
                      <p class="card-category" routerLink="/tasks" style="cursor: pointer;">Help demands waiting</p>
                      <h3 class="card-title" routerLink="/tasks" style="cursor: pointer;">{{helpdemandsNbre}}
                          <small>help demand</small>
                      </h3>
                  </div>
                  <div class="card-footer" routerLink="/tasks" style="cursor: pointer;">
                      <div class="stats" routerLink="/tasks" style="cursor: pointer;">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">It's important to update them into tasks if it's necessary !</a>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Events</h4>
                      <p class="card-category" [(ngModel)]="ev1" >This stat chows the percentages of different events</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Signed users</h4>
                      <p class="card-category">This is a list of all the subscribed users</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-info">
                              <th>Full Name</th>
                              <th>Email</th>
                              <th>Phone number</th>
                          </thead>
                          <tbody *ngFor="let user from usersList">
                              <tr>
                                  <td>{{user.firstName}} {{user.lastName}}</td>
                                  <td> {{user.email}} </td>
                                  <td> {{user.phoneNumber}} </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
